/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.mainGallery {
  width: 50%;
}
.mainGallery .parent {
  display: grid;
  grid-template-columns: 1.21fr 0.5fr 1.05fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  outline: 3px solid red;
  width: 100%;
}
.mainGallery .parent .div1 {
  grid-area: 0.25;
}
.mainGallery .parent .div2 {
  grid-area: 0.08333333;
}
.mainGallery .parent .div3 {
  grid-area: 0.04166667;
}
.mainGallery .parent .div4 {
  grid-area: 0.33333333;
}
.mainGallery .parent .div5 {
  grid-area: 0.11111111;
}
.mainGallery .parent .div6 {
  grid-area: 0.05555556;
}
.mainGallery .parent .div7 {
  grid-area: 0.375;
}
.mainGallery .parent .div8 {
  grid-area: 0.125;
}
.mainGallery .parent .div9 {
  grid-area: 0.0625;
}
.mainGallery .parent .div10 {
  grid-area: 0.4;
}
.mainGallery .parent .div11 {
  grid-area: 0.13333333;
}
.mainGallery .parent .div12 {
  grid-area: 0.06666667;
}
.mainGallery .parent img {
  width: 100%;
}
